<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Task2_AttendRight"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.activities.LocationActivityGMaps"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.DetailTaskActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.TaskMemberActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.Detail2ProjectActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.AddTaskActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.DetailProjectActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.AddMembersProjectActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.ShiftChangeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.LeaveReqDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.AttendanceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.SubmissionFabActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.PoinActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.FaQActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.LoginWEmailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.AddProjectActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.LocationActivityOSM"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.activities.MeetDetailActivityOffline"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.MeetDetailActivityOnline"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.signin_employee_activity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".presentation.ui.activities.fragment_project"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.AddMeetActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.AboutAppsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.JobInformationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.SuccessInformationClockIn"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.FinalClockInActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activities.CameraXScreen"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDZK2SFediPD6p6joRojoMl6pNwhUXKW8" />

        <activity
            android:name=".presentation.ui.activities.AddMembersActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.ui.activities.fragmenttTestt"
            android:exported="false">

        </activity>
    </application>

</manifest>